@import url('https://fonts.googleapis.com/css2?family=Allan&family=Quicksand:wght@500&display=swap');

:root {
    --black: #020202;
    --purple: #5946BC;
    --aqua: #06E19F;
    --laqua: #dcfef4;
    --daqua:#05c48a;
    --yellow: #EDE700
  }
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:var(--black)
}

.container {
    display: flex;

}
.sidebar {
    height: fit-content; /* Full-height: remove this if you want "auto" height */
    width: 360px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left:5px;

}
#sidebar-heading{
    text-align: center;
    font-size: 28px;
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 5px;
}
#redis-node-logo{
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
.main-panel {
    order: 2;
    height:fit-content;
    min-height:100vh;
    padding-left:15px;
    padding-right:15px;
    margin-left:380px;
    background-color: var(--laqua);
    width:73%;
    max-width:73%;
}

table {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin: 0 0px; /* center the table */
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    font-family: 'Allan', sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 22px;
    background-color: var(--purple);
    color: white;
}

.button-default {
    color: white;
    background-color: var(--aqua);
    border-left:10px solid var(--yellow);
    border-right:10px solid var(--yellow);
    text-align: center;
    width:130px;
    padding: 9px 10px;
    margin: 5px;
    display: inline-block;
}

.button-default:hover {
    background-color: var(--daqua);
    cursor: pointer;
}
  
  .button-slanted {
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  .button-slanted-content {
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);  
    display: inline-block;
  }
  
  .button-fixedwidth {
    width: 100px;
  }
.pre-load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}
#rtime{
    color:rgb(15, 126, 0)
}


/* Loader css */
.loader{
    z-index: 9999;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid var(--purple);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }